################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Release/net5.0
/API/obj
/.vs/API/FileContentIndex
/API/bin/Debug/net5.0
/.vs/API/v17
/API/API.csproj.user
/.vs/API/DesignTimeBuild
/API/API.csproj.user

.fake